<html lang='en'>

<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>

<body>
  <div class="container">
    <div class='center'>
      <div class='title'> MALARIA DETECTION </div>
      <p class='mid-text'>
        Malaria is a deadly, infectious mosquito-borne disease caused by Plasmodium parasites. <br>
        These parasites are
        transmitted by the bites of infected female Anopheles mosquitoes.
        <br> Our model classifies the mosquito bite
        into the following categories: <br>
        <strong>PARASITIZED</strong> or <strong>UNINFECTED</strong><br>
        <!-- Kindly upload a decent picture of the bite mark for optimal results. </p> -->
      <div class='no-display'>
        <input id='file-input' class='no-display' type='file' name='file' accept='image/*' onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Input Image</button>
      <div class='upload-label'>
        <label id='upload-label'>//No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200' >
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Predict</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>

  </div>
</body>

</html>