body {
    /* background-color: black; */
    background-image: url("pic.jpg");
    margin: 0;
    /* background-position: center; */
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.no-display {
    display: none;
}

.center {
    width: 900px;
    /* margin: auto;
    padding: 30px 50px;
    text-align: center; */
    padding: 20px;
    padding-top: 10px;
    border: 5px solid gray;
    margin: 30px;
    font-size: 20px;
    margin-left: 20%;
    margin-top: 5px;
}

.title {
    font-size: 60px;
    margin-top: 20px;
    margin-left: 15%;
    margin-bottom: 20px;
    color: white;
}

.mid-text {
    color: #C0C0C0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 5%;
}

.content {
    margin-top: 10em;
}

.analyze {
    /* margin-top: 5em; */
    margin-top: 20px;    
}

.upload-label {
    padding: 10px;
    font-size: 12px;
    color: white;
    margin-left: 35%;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
    margin-left: 15%;
}

button.choose-file-button {
    /*width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 13px;
    color: #7052CB; */
 color: white;
 background:  #383838;
 border: 1px solid #C0C0C0;;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 10px;
 display: inline-block;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 min-width: 120px;
 margin-left: 39%;

}

/* .button.choose-file-button:hover, .button.choose-file-button:active {
    color:#fff;
    background:#009688;
   } */

button.analyze-button {
    /* width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff; */
 color: white;
 background:  #383838;
 border: 1px solid #C0C0C0;;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 10px;
 display: inline-block;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 min-width: 120px;
 margin-left: 39%;
}

button:focus {
    outline: 0;
}

#image-picked {
    margin-left: 35%;
}